<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="brush.js"></script>
</head>
<body>
	<% include ../partials/navbar %>
	<div class="container">
		<div class="row">
			<div class="grid col-sm-8">
				<% 
					var letter = 'A';
					var position = 65;
					var final = '';
					for (var r = 0; r < 9; r++) {
						for (var c = 0; c < 9; c++) { 
						letter = String.fromCharCode(position);
						final = letter + (c + 1)%>
				<span class="cell" id="<%= final %>">{ }</span>
				<% } %>
				<br/>
				<% position++; } %>
			</div>
			<div class="display col-sm-4">
				Brush: <select name="cell" onchange="selectBrush(this);">
					<% rows.forEach((row) => { %>
					<option value="<%= row.id %>"><%= row.name %></option>
					<% }) %>
				</select>
				<%
				rows.forEach((row) => { %>
				<span class="<%= row.id %>" style="font-family: 'Inconsolata', monospace;color:#<%= row.color %>">{<%= row.content %>}</span>
				<% }) %>
				<% 
					var id = "detail";
					rows.forEach((row) => { 
					id += row.id;
				%>
				<div style="visibility:hidden;" class="<%= id %>"><h2><%= row.name %> Cell</h2>
					<br/>
					<p>
					<% if (row.durability > 0){ %>
						Durability: %<%= row.durability %>
						Physical Resistance: <%= row.pr %>
						Magical Resistance: <%= row.mr %>
					<% } %>
					Blocks Movement?: <%= row.blocks %>
					Details: <%= row.detail %></p>
				</div>
				<% }) %>
				<%
				var count = 0; 
				rows.forEach((row) => { count++; }
				%>
				<input type="number" id="count" value="<%= count %>" style="visibility:hidden;">
			</div>
		</div>
	</div>

	<script>
		/*$(document).ready(function(){
  			$("select").change(function(){
    			var item = "." + this.value;
    			$(item).css("visibility", "hidden");
  			});
		});*/
	</script>
</body>