<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="project2.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
				<% rows.forEach((row) => { %>
					<a href="/row/<%= row.id %>">
					  	<p>Name: <%= row.name %></p>
					  	<p>Content: <%= row.content %></p>
					  	<p>Color: <%= row.color %></p>
					  	<p>DoesBlock?: <%= row.blocks %></p>
					  	<p>HasDurable?: <%= row.durability %></p>
					  	<p>Physical Resistance: <%= row.pr %></p>
					  	<p>Magical Resistance: <%= row.mr %></p>
					  	<p>Details: <%= row.detail %></p>
					</a>
			  	<% }) %>
			</div>
			<div class="col-sm-4">
			</div>
		</div>
	</div>
</body>